This is a notebook for extractic GoEmotion dataset of Google

In [5]:
# Getting URL information
import requests
import extruct
from w3lib.html import get_base_url

url = 'https://www.kaggle.com/datasets/debarshichanda/goemotions'

res = requests.get(url)

html = res.text
metadata = extruct.extract(
        html,
        base_url=get_base_url(html, url),
        syntaxes=['json-ld'],
    )['json-ld'][0]
print('ok')

ok

In [17]:
import pandas as pd
import glob

## 3 - Get Information from the data

#Reading
path = 'sources/data'
df = pd.concat(map(pd.read_csv, glob.glob(path + "/*.csv")))
print (df.head())

                                                text       id  \
0                                    That game hurt.  eew5j0j
1   >sexuality shouldnâ€™t be a grouping category I...  eemcysk
2     You do right, if you don't care then fuck 'em!  ed2mah1
3                                 Man I love reddit.  eeibobj
4  [NAME] was nowhere near them, he was by the Fa...  eda6yn6

                author            subreddit    link_id   parent_id  \
0                Brdd9                  nrl  t3_ajis4z  t1_eew18eq
1          TheGreen888     unpopularopinion  t3_ai4q37   t3_ai4q37
2             Labalool          confessions  t3_abru74  t1_ed2m7g7
3        MrsRobertshaw             facepalm  t3_ahulml   t3_ahulml
4  American_Fascist713  starwarsspeculation  t3_ackt2f  t1_eda65q2

    created_utc  rater_id  example_very_unclear  admiration  ...  love  \
0  1.548381e+09         1                 False           0  ...     0
1  1.548084e+09        37                  True           0  ...     0
2  1.546428e+09        37                 False           0  ...     0
3  1.547965e+09        18                 False           0  ...     1
4  1.546669e+09         2                 False           0  ...     0

   nervousness  optimism  pride  realization  relief  remorse  sadness  \
0            0         0      0            0       0        0        1
1            0         0      0            0       0        0        0
2            0         0      0            0       0        0        0
3            0         0      0            0       0        0        0
4            0         0      0            0       0        0        0

   surprise  neutral
0         0        0
1         0        0
2         0        1
3         0        0
4         0        1

[5 rows x 37 columns]

In [22]:
# Number of items
df.shape
#df.dtypes
df.describe()

,created_utc,rater_id,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
count,2.112250e+05,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,...,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000,211225.000000
mean,1.547659e+09,37.619742,0.081103,0.043768,0.038272,0.064472,0.083418,0.028401,0.034840,0.045885,...,0.038779,0.008569,0.041259,0.006164,0.041591,0.006102,0.011954,0.031994,0.026105,0.261797
std,7.696842e+05,23.070528,0.272994,0.204580,0.191853,0.245592,0.276514,0.166116,0.183374,0.209236,...,0.193067,0.092172,0.198890,0.078269,0.199653,0.077880,0.108679,0.175985,0.159448,0.439614
min,1.546301e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.546993e+09,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.547664e+09,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.548320e+09,57.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.548979e+09,81.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
from pandas_profiling import ProfileReport

In [36]:
object2 = df.nunique()
#df['rater_id'].value_counts(normalize=True)
print('ok')

ok

In [4]:

from datasets import get_dataset_infos, inspect_metric
##datasets_list = list_datasets()
##for dataset in datasets_list:
##    info = get_dataset_infos(dataset)
##    print(dataset)
#info = get_dataset_infos("glue");
#metric = inspect_metric("glue","sources");

The processing scripts for metric glue can be inspected at c:\Users\Joan\Documents\sites\reverse\sources. The main class is in C:\Users\Joan\.cache\huggingface\modules\datasets_modules\metrics\glue\91f3cfc5498873918ecf119dbf806fb10815786c84f41b85a5d3c47c1519b343. You can modify this processing scripts and use it with `datasets.load_metric("c:/Users/Joan/Documents/sites/reverse/sources")`.
None